%div#navbar.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "The Dasboard Project", root_path, :class => "brand"
      .nav-collapse.collapse
        %ul.nav
          %li
            = link_to "Home", root_path
          %li
            = link_to "About", about_path
          %li
            = link_to "Contact", contact_path